<div class="container my-5">

<div class="jumbotron text-center text-primary">
    <h1><span class="fa fa-lock"></span> Inicia con Facebook</h1>
    <br>
    <!-- <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a> -->
    <a href="/auth/facebook" class="btn btn-primary">Login con Facebook</a>
</div>